<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Video Analysis</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/Styles/processing.css">

    <script>
    $(document).ready(function () {
    localStorage.setItem('showCards', 'true');

    const status = [
        "Splitting video into frames",
        "Looking for objects",
        "Finishing up"
    ];
    const percentage = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100];

    const objects = ["car", "truck","car", "truck","car", "truck","car", "truck","car", "truck","car"];


    // Update the status and progress bar with delays
    $('#status').text(status[0]); // Initial status

    // Step 1: Wait 2 seconds, then change to status[1]
    setTimeout(() => {
        $('#status').text(status[1]);

        // Step 2: Start updating the progress bar
        percentage.forEach((percent, index) => {
            setTimeout(() => {
                $('#progress-bar').css('width', percent + '%');
                $('#updates').text(`Object detected: ${objects[index]}`)
            }, index * 400); // 400ms delay between each progress update
        });

        // Step 3: Wait for progress bar to finish, then update to status[2]
        setTimeout(() => {
            $('#updates').text('')
            $('#status').text(status[2]);

            // Step 4: Redirect to '/res' after 2 seconds
            setTimeout(() => {
                window.location.href = '/res?videoname=VHJhZmZpY1Nob3J0XzE4LTEyLTI0XzEyXzAz';
            }, 2000);
        }, percentage.length * 400); // Wait for the progress bar to complete

    }, 2000); // Initial 2-second delay
});
    </script>
   
</head>
<body>
    <div class="bar">
        <h1 class="text-center">Video Analysis</h1>
    </div>
    <div class="container">
        <div class="loader"></div>
        <h1 id="loadMessage">Analyzing TrafficShort:</h1>
        <h4 id="updates"></h4>
    </div>
    <div class="progress-container">
        <h4 id="status"></h4>
        <div class="progress-bar" id="progress-bar"></div>
    </div>
</body>
</html>
